.movies-container {
    color: white;
    text-align: center;
    min-height: calc(100vh - 160px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.movies-container h2 {
    font-size: 3rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color:rgba(255, 255, 255, 0.5);
}
  
.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px; 
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    font-size: 1.5em;
    color:rgba(255, 255, 255, 0.5);

}
  
.movie-card:hover {
    transform: translateY(-5px);
}
  
.movie-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.movie-info {
    padding: 0.2em;
}

.movie-info h3{
    margin: 0;
    font-size: 1em;
    text-align: center;
}
  
.age-rating {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
  
.age-rating-r {
    background-color: rgb(176, 81, 81);
    color: white;
}
  
.age-rating-pg-13 {
    background-color: rgb(101, 77, 33);
    color: white;
}
  
.age-rating-not-rated {
    background-color: gray;
    color: white;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.verification-modal {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
}

.verification-modal p{
    font-size: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    color: black;
}
  
.verification-modal h2 {
    margin-top: 0;
    color: black;
}
  
.verification-modal p {
    margin-bottom: 20px;
}
  
.verification-modal button {
    padding: 1em 1em;
    margin: 1em;
    font-size: 1em;
    background-color: #4c78a8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.review-modal {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-modal p{
  font-size: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.review-modal h2 {
  margin-top: 0;
}

.review-modal p {
  margin-bottom: 20px;
}

.review-modal button {
  padding: 1em 1em;
  margin: 1em;
  font-size: 1em;
  background-color: #4c78a8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
  
.review-modal button:hover {
  background-color: #0062cc;
}

.spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #0099ff;
    animation: spinner 1s ease-in-out infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .movies-container {
      padding: 10px;
      margin-bottom: 20px;
    }
    
    .movies-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-bottom: 20px;
    }
    
    .movie-card {
      font-size: 1em;
    }
    
    .movie-image {
      height: 150px;
    }
    
    .age-rating {
      margin-top: 5px;
      padding: 3px;
      font-size: 10px;
    }
    
    .verification-modal {
      padding: 10px;
    }
    
    .verification-modal p {
      font-size: 0.9em;
      margin-bottom: 0.3em;
    }
    
    .verification-modal h2 {
      margin-top: 0;
      font-size: 1.2em;
    }
    
    .verification-modal p {
      margin-bottom: 10px;
    }
    
    .verification-modal button {
      padding: 0.7em;
      margin: 0.7em;
      font-size: 0.9em;
    }
    
    .spinner {
      width: 30px;
      height: 30px;
      border-width: 3px;
    }
}

.share-button,
.cancel-share-button,
.submit-review-button,
.cancel-review-button,
.review-button {
  padding: 0.6em 0.6em;
  margin: 0.6em;
  font-size: 0.6em;
  background-color: #4c78a8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.share-button:hover,
.cancel-share-button:hover,
.submit-review-button:hover,
.cancel-review-button:hover,
.review-button:hover {
  background-color: #0062cc;
}

.review-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 1em;
}