.navbar-container {
    background-color: #141414;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
  
.navbar-logo h1 {
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}
  
.navbar-menu {
    display: flex;
    align-items: center;
    position: relative;
}
  
.navbar-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.navbar-menu-item {
    margin-left: 1em;
    border: 1px solid white;
    border-radius: 1em;
    padding: 0em 0.5em;
}
  
.navbar-menu-item a {
    font-size: 0.7em;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
  
.navbar-menu-item a:hover {
    color: #FF8A8A;
}
  
.mobile-menu-toggle {
    display: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
}

.navbar-menu-item a:visited {
  font-size: 0.7em;
  color: #FFEC80; /* Change this color to your desired color */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-item a:visited:hover {
  color: #FF8A8A; /* Change this color for the visited link hover state */
}


.logout-modal {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}

.logout-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image{
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 12em;
    left: 0;
    width: 100%;
    background-color: #141414;
    padding: 1em;
    box-sizing: border-box;
    z-index: 1;
  }

  .navbar-menu.active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .navbar-menu.active li {
    margin: 0.5em 0;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .logout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
  }
  
  .logout-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
