.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-container button:hover {
    background-color: #b5070e;
  }
  