.booking-container {
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    overflow: hidden;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.form-group {
    margin-bottom: 20px;
}
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.form-control {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #4c78a8;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}
  
.booking-list-container {
    width: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.booking-list-container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
  
.booking-details {
    margin-top: 1em;
    text-align: center;
    border:rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-radius: 1em;
    padding: 0.5em;
}  
  
.booking-details h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
  
.booking-details p {
    margin-bottom: 1em;
    text-align: center;
}
  
.booking-list-container p {
    text-align: center;
    margin-top: 2em;
}

@media (max-width: 600px) {
    .booking-container {
      width: 70%;
      margin-left: 1em;
      margin-right: 1em;
    }
    
    .booking-list-container {
      width: 100%;
    }
    
    .booking-list-container h2 {
      font-size: 1.2em;
    }
    
    .booking-details {
      margin-top: 1em;
      padding: 0.5em;
    }
    
    .booking-details h3 {
      font-size: 1em;
    }
    
    .form-control {
      font-size: 14px;
    }
}
  