.register-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.full-height {
    height: 100vh;
}
  
.form-group {
    margin-bottom: 20px;
}
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.form-control {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}
  
.btn-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #3f51b5;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
  
.btn-primary:hover {
    background-color: #303f9f;
}
  
.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.5);
}
  
.btn-register {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}
  
.booking-list-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    text-align: center;
}
  
.booking-list-container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
  
.booking-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    text-align: center;
}  
  
.booking-details h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
  
.booking-details p {
    margin-bottom: 1em;
    text-align: center;
}
  
.booking-list-container p {
    text-align: center;
    margin-top: 2em;
}
  