.footer-container {
  background-color: #141414;
  color: #8c8c8c;
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0; 
  border-top: 0.1em solid #ffffffbb;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
p {
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}