body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  background-image: url("../../img/landing-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.account-container {
  width: 500px;
  margin: 0em auto;
  margin-top: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 200px);
  flex-grow: 1;
}

.account-container h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}
  
.form-group {
    margin-bottom: 20px;
}
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.5em 0 0.5em;
  margin-top: 1.5em;
}

.button-container button {
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #4c78a8;
  color: #fff;
  cursor: pointer;
  margin: 0 0.5em;
  transition: background-color 0.3s ease;
}

.btn-danger{
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button-container button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .account-container {
    padding: 1em;
    min-height: calc(100vh - 200px);
    max-width: 400px;
  }

  .account-container h2 {
    font-size: 1.2em;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="date"] {
    font-size: 1em;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    overflow: hidden;
  }

  .button-container button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.75em 1em;
    border: none;
    border-radius: 0.25em;
    background-color: #4c78a8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }
  

}


