.movie-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    overflow: hidden;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    background-repeat: no-repeat; 
    height: calc(100vh - 240px); 
}

.movie-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-container .btn-movie-register {
  margin-top: 1em; 
  align-self: center;
}
  
.movie-container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}
  
.form-group {
    margin-bottom: 20px;
}
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin : 0 auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #4c78a8;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}
  
.btn-movie-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #4c78a8;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
  
.btn-movie-primary:hover {
    background-color: #303f9f;
}
  
.btn-movie-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.5);
}

.btn-movie-register {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-content button {
    margin: 1em 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
}
  
.modal h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.modal p {
    margin-bottom: 1em;
}
  
.modal h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
  
.modal input[type="text"] {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1em;
}
  
.modal-buttons {
    display: flex;
    justify-content: center;
}

.modal-buttons button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #4c78a8;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.movie-title {
    display: block;
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .movie-container {
      width: 70%;
    }
    
    .movie-container h2 {
      font-size: 1.2em;
    }
    
    .form-control {
      font-size: 14px;
    }
    
    .modal-content {
      width: 300px;
    }
    
    .modal h2 {
      font-size: 1.2em;
    }
    
    .modal h1 {
      font-size: 2em;
    }
    
    .movie-title {
      font-size: 1em;
    }
}
  