.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}
  
.login-form {
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}
  
h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}
  
.form-group {
    margin-bottom: 20px;
    text-align: center;
}
  
label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #0062cc;
}