.register-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}
  
.register-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
  
.form-group {
    margin-bottom: 20px;
}
  
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin : 0 auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}
  
.btn-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #3f51b5;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
  
.btn-primary:hover {
    background-color: #303f9f;
}
  
.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.5);
}
  